dill==0.3.7; sys_platform=="linux" and platform_machine=="armv7l"
dill==0.3.7; sys_platform!="linux" or platform_machine!="armv7l"
numpy==1.21.6; sys_platform=="linux" and platform_machine=="armv7l"
numpy==1.26.1; sys_platform!="linux" or platform_machine!="armv7l"
onnx==1.14.1; sys_platform!="linux" or platform_machine!="armv7l"
onnxruntime==1.16.1; sys_platform!="linux" or platform_machine!="armv7l"
Pillow==9.5.0; sys_platform=="linux" and platform_machine=="armv7l"
Pillow==10.1.0; sys_platform!="linux" or platform_machine!="armv7l"
torch==1.13.1; sys_platform=="linux" and platform_machine=="armv7l"
torch==2.1.0; sys_platform!="linux" or platform_machine!="armv7l"
torchvision==0.14.1; sys_platform=="linux" and platform_machine=="armv7l"
torchvision==0.16.0; sys_platform!="linux" or platform_machine!="armv7l"
ultralytics==8.0.121; sys_platform=="linux" and platform_machine=="armv7l"
ultralytics==8.0.199; sys_platform!="linux" or platform_machine!="armv7l"
